.headImg{}
.main{}
.headerText{
    text-align: center;
    font-size: 2.3rem;
    margin: 2rem 0;
    color: goldenrod;
}
.mainInfoGroup{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}
.infoGroup{}
.infoSetBox{}
.infoHeadText{}
.infoButton{
    border-style: none;
    font-size: 1.5rem;
    background: none;
    color: #8c7343;
}
.infoList{
    list-style-type: none;
    margin-left: 5px;
    color: #8c7343;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.infoListItem{
    line-height: 1.7rem;
    
}
.threeInRow{
    display: flex;
    place-items: center;
    gap: 0.5rem;
    color: #8c7343;
    font-size: 1.5rem;
}